/* About section */
.about-section {
  padding: 50px 20px;
  text-align: left;
  background-color: var(--background-color);
  margin-top: 30px;
  border-radius: 8px;
  margin: 10px;
}

.about-section h2 {
  font-size: 2.5rem;
  color: var(--primary-color);
  font-family: 'Lora', serif;
  text-align: left;
}

.about-section p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    padding: 1px 1px;
    padding-top: 10px;
  }

}