/* Contact section */
.contact-section h2 {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.contact-section p {
  font-size: 1.1rem;
  color: var(--text-color-gray);
}

.contact-section a {
  color: var(--white);
}

.contact-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact-button .icon {
  font-size: 1.5rem;
}

.contact-button:hover {
  transform: scale(1.3);
  transition: transform 0.2s ease;
}
