/* Header styling */
.header {
  background-color: var(--primary-color);
  color: var(--background-color);
  text-align: center;
  padding: 4rem 1rem;
  background-image: url('https://www.weforum.org/stories/2023/01/5-reasons-forest-carbon-credits-climate-action/');
  background-size: cover;
  background-position: center;
  display: flex;
  line-height: 40px;
}

.header h1 {
  margin: 0;
  font-size: 3rem;
  font-family: 'Lora', serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.header p {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}


.header-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  align-self: center;
  margin-bottom: 20px;
  filter: grayscale(40%);
  object-fit: cover;
}

.header-contact {
  margin-top: auto;
  text-align: center;
}
