/* Projects section */
.projects-section {
  padding: 50px 20px;
  background-color: var(--background-color);
  text-align: center;
  background-size: cover;
  background-position: center;
  color: var(--section-text-color);
}

.projects-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  padding-top: 20px;
  color: var(--primary-color);
  font-family: 'Lora', serif;
  text-align: left;
}

.projects-section h1 {
  font-size: 1rem;
  margin-top: 0px;
}


.project {
  background-color: var(--section-color-transparent);
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
}

.project-year {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: bold;
  min-width: 100px;
}

.project-details {
  text-align: left;
  flex: 1;
}


.project a {
  text-decoration: none;
  color: black;
}

.project p {
  font-size: 1rem;
  color: var(--section-text-color);
  font-family: 'Poppins', sans-serif;
}

.project .links a {
  display: block;
  color: var(--accent-color);
  text-decoration: none;
  margin-top: 10px;
  font-weight: bold;
}

.project .links a:hover {
  color: var(--primary-color);
}

.project .github-button .icon {
  color: black;
  width: 30px;
  height: auto;
}

.project .github-button .icon:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.project-logo img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}


@media (max-width: 768px) {
  .project {
    flex-direction: column;
    gap: 5px;
  }

  .project-logo {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .project-logo img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 0 auto;
  }

  .project-details {
    text-align: left;
  }

  .projects-section{
    padding: 5px 5px;
  }
}