:root {
  --primary-color: #2E5B31;
  --secondary-color: #F1F5F8;
  --accent-color: #507043;
  --text-color: #333;
  --background-color: #E8F3E4;
  --white: #FFFFFF;
  --black: #000000;
  --section-text-color: #333;
  --section-color: #F9FAFB;
  --section-color-transparent: rgba(249, 250, 251, 0.8);
  --section-color-transparent2: rgba(249, 250, 251, 0.2);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1200px; /* Set the maximum width of the page */
  margin: 0 auto; /* Center the container horizontally */
  padding: 0 20px; /* Add some padding for smaller screens */
}

.header-about-container {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Add space between Header and About */
  align-items: stretch; /* Make both sections equal height */
  gap: 20px; /* Add spacing between the two sections */
  padding: 20px; /* Add padding around the container */
}

.header-about-container > * {
  flex: 1; /* Make both sections take equal width */
  display: flex; /* Ensure child elements inside can align properly */
  flex-direction: column; /* Allow content to stack vertically */
}
